In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
gen_users = pd.read_csv('/Users/atulyasharma/Documents/M.S in Information Systems/University Curriculum/Spring 2020/INFO 6105 Data Science Engineering Methods and Tools/Projects/Dataset/cresci-2017.csv/datasets_full.csv/genuine_accounts.csv/users.csv')
gen_users.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,NaN,15years ago X.Lines24,NaN,NaN,Tue Jun 11 11:20:35 +0000 2013,2013-06-11 13:20:35,2015-05-02 06:41:46,2016-03-15 15:53:47,0,0
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,NaN,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),NaN,NaN,Tue May 13 10:37:57 +0000 2014,2014-05-13 12:37:57,2015-05-01 17:20:27,2016-03-15 15:53:48,0,0
2,293212315,bearclaw,14KBBrown,1254,166,177,1185,0,NaN,en,...,NaN,Let me see what your best move is!,NaN,NaN,Wed May 04 23:30:37 +0000 2011,2011-05-05 01:30:37,2015-05-01 18:48:28,2016-03-15 15:53:48,0,0
3,191839658,pocahontas farida,wadespeters,202968,2248,981,60304,101,http://t.co/rGV0HIJGsu,en,...,NaN,20. menna: #farida #nyc and the 80s actually y...,NaN,NaN,Fri Sep 17 14:02:10 +0000 2010,2010-09-17 16:02:10,2015-05-01 13:55:16,2016-03-15 15:53:48,0,0
4,3020965143,Ms Kathy,191a5bd05da04dc,82,21,79,5,0,NaN,en,...,NaN,Cosmetologist,NaN,NaN,Fri Feb 06 04:10:49 +0000 2015,2015-02-06 05:10:49,2015-05-02 01:17:32,2016-03-15 15:53:48,0,0

In [5]:
gen_tweets = pd.read_csv('/Users/atulyasharma/Documents/M.S in Information Systems/University Curriculum/Spring 2020/INFO 6105 Data Science Engineering Methods and Tools/Projects/Dataset/cresci-2017.csv/datasets_full.csv/genuine_accounts.csv/tweets.csv')
gen_tweets.head(2839362)

/Users/atulyasharma/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,593932392663912449,RT @morningJewshow: Speaking about Jews and co...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",6.780330e+05,NaN,0.0,0.0,NaN,5.939322e+17,NaN,...,NaN,NaN,NaN,0.0,0.0,1.0,Fri May 01 00:18:11 +0000 2015,2015-05-01 02:18:11,2015-05-01 12:57:19,2015-05-01 12:57:19
1,593895316719423488,This age/face recognition thing..no reason pla...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",6.780330e+05,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,Thu Apr 30 21:50:52 +0000 2015,2015-04-30 23:50:52,2015-05-01 12:57:19,2015-05-01 12:57:19
2,593880638069018624,Only upside of the moment I can think of is th...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",6.780330e+05,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,2.0,0.0,0.0,Thu Apr 30 20:52:32 +0000 2015,2015-04-30 22:52:32,2015-05-01 12:57:19,2015-05-01 12:57:19
3,593847955536252928,If you're going to think about+create experien...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",6.780330e+05,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,2.0,0.0,0.0,Thu Apr 30 18:42:40 +0000 2015,2015-04-30 20:42:40,2015-05-01 12:57:19,2015-05-01 12:57:19
4,593847687847350272,Watching a thread on FB about possible future ...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",6.780330e+05,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,Thu Apr 30 18:41:36 +0000 2015,2015-04-30 20:41:36,2015-05-01 12:57:19,2015-05-01 12:57:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2839357,546379158251929600,"""Here’s the key to living a good life: “Meet a...","<a href=""http://www.tumblr.com/"" rel=""nofollow...",2.776254e+07,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,1.0,0.0,Sat Dec 20 18:58:37 +0000 2014,2014-12-20 19:58:37,2015-05-01 16:15:29,2015-05-01 16:15:29
2839358,578751592213700608,RT @Cuauhtemoc_1521: #SabiasQue el nombre real...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",2.356426e+09,NaN,0.0,0.0,NaN,5.786470e+17,NaN,...,NaN,NaN,NaN,1.0,0.0,1.0,Fri Mar 20 02:55:06 +0000 2015,2015-03-20 03:55:06,2015-05-01 16:15:29,2015-05-01 16:15:29
2839359,546379003465314306,"""If someone says they have their shit together...","<a href=""http://www.tumblr.com/"" rel=""nofollow...",2.776254e+07,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,1.0,0.0,Sat Dec 20 18:58:00 +0000 2014,2014-12-20 19:58:00,2015-05-01 16:15:29,2015-05-01 16:15:29
2839360,588093827501527040,How to Train Your Coral: Imagine you are in th...,"<a href=""http://twitterfeed.com"" rel=""nofollow...",2.412403e+08,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,2.0,1.0,0.0,Tue Apr 14 21:37:49 +0000 2015,2015-04-14 23:37:49,2015-05-01 16:15:29,2015-05-01 16:15:29
2839361,Fatal error: Maximum execution time of 300 sec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
gen_tweets.dtypes

id                          object
text                        object
source                      object
user_id                    float64
truncated                  float64
in_reply_to_status_id      float64
in_reply_to_user_id        float64
in_reply_to_screen_name     object
retweeted_status_id        float64
geo                        float64
place                       object
contributors               float64
retweet_count              float64
reply_count                float64
favorite_count             float64
favorited                  float64
retweeted                  float64
possibly_sensitive         float64
num_hashtags               float64
num_urls                   float64
num_mentions               float64
created_at                  object
timestamp                   object
crawled_at                  object
updated                     object
dtype: object

In [7]:
print(gen_users.shape)
print(gen_tweets.shape)

(3474, 42)
(2839362, 25)

In [8]:
gen_users = gen_users.fillna(0)
gen_tweets = gen_tweets.fillna(0)

In [9]:
gen_users['id'].unique().shape

(3474,)

In [10]:
gen_tweets['user_id'].unique().shape

(1084,)

In [11]:
rem_col = ['default_profile', 'default_profile_image', 'geo_enabled', 'profile_image_url', 'profile_banner_url',
           'profile_use_background_image', 'profile_background_image_url_https', 'profile_text_color',
           'profile_sidebar_border_color', 'profile_background_tile', 'profile_sidebar_fill_color',
           'profile_background_image_url','profile_background_color', 'profile_link_color', 'utc_offset',
           'is_translator', 'protected', 'description', 'contributors_enabled' ]
gen_users = gen_users.drop(rem_col, axis = 1)

rem_col = ['url', 'time_zone', 'location', 'profile_image_url_https']
gen_users = gen_users.drop(rem_col, axis = 1)

rem_col = ['screen_name', 'listed_count', 'follow_request_sent', 'notifications']
gen_users = gen_users.drop(rem_col, axis = 1)

In [12]:
new_features = ['in_reply_to_user_id','retweet_count','num_hashtags', 'num_urls','num_mentions']

for f in new_features:
    gen_users[f] = np.nan

In [15]:
gen_users['retweet_count'] = gen_users.retweet_count.astype('float64')
gen_users['num_hashtags'] = gen_users.num_hashtags.astype('float64')
gen_users['num_urls'] = gen_users.num_urls.astype('float64')
gen_users['statuses_count'] = gen_users.statuses_count.astype('float64')
gen_users['followers_count'] = gen_users.followers_count.astype('float64')
gen_users['friends_count'] = gen_users.friends_count.astype('float64')
gen_users['favourites_count'] = gen_users.favourites_count.astype('float64')

In [16]:
gen_tweets = gen_tweets.drop(2839361)

(3474, 20)

In [ ]:
gen_users.shape

In [18]:
gen_tweets["id"] = pd.to_numeric(gen_tweets["id"])

In [19]:
unique_ids = gen_tweets['user_id'].unique()
indices = []

for unique_id in unique_ids:
    index = gen_users.loc[gen_users['id']==unique_id].index[0]
    indices.append(gen_users.loc[gen_users['id']==unique_id].index[0])
    
    mean = gen_tweets.loc[gen_tweets['user_id'] == unique_id]['num_hashtags'].mean()
    gen_users.iloc[index, gen_users.columns.get_loc('num_hashtags')] = mean
    
    mean = gen_tweets.loc[gen_tweets['user_id'] == unique_id]['in_reply_to_user_id'].mean()
    gen_users.iloc[index, gen_users.columns.get_loc('in_reply_to_user_id')] = mean

    mean = gen_tweets.loc[gen_tweets['user_id'] == unique_id]['retweet_count'].mean()
    gen_users.iloc[index, gen_users.columns.get_loc('retweet_count')] = mean

    mean = gen_tweets.loc[gen_tweets['user_id'] == unique_id]['num_urls'].mean()
    gen_users.iloc[index, gen_users.columns.get_loc('num_urls')] = mean

    mean = gen_tweets.loc[gen_tweets['user_id'] == unique_id]['num_mentions'].mean()
    gen_users.iloc[index, gen_users.columns.get_loc('num_mentions')] = mean

In [20]:
gen_users.dtypes

id                       int64
name                    object
statuses_count         float64
followers_count        float64
friends_count          float64
favourites_count       float64
lang                    object
verified               float64
following              float64
created_at              object
timestamp               object
crawled_at              object
updated                 object
test_set_1               int64
test_set_2               int64
in_reply_to_user_id    float64
retweet_count          float64
num_hashtags           float64
num_urls               float64
num_mentions           float64
dtype: object

In [21]:
age = (pd.to_datetime('2018-11-09 00:00:00') - pd.to_datetime(gen_users['timestamp']))/np.timedelta64(1, 'M')
gen_users.loc[:,'acct_age'] = age.values
gen_users = gen_users.drop('timestamp',1)

In [22]:
gen_users = gen_users.dropna(how='any')

In [23]:
gen_users.dtypes

id                       int64
name                    object
statuses_count         float64
followers_count        float64
friends_count          float64
favourites_count       float64
lang                    object
verified               float64
following              float64
created_at              object
crawled_at              object
updated                 object
test_set_1               int64
test_set_2               int64
in_reply_to_user_id    float64
retweet_count          float64
num_hashtags           float64
num_urls               float64
num_mentions           float64
acct_age               float64
dtype: object

In [24]:
rem_col = ['created_at', 'crawled_at', 'updated', 'test_set_1', 'test_set_2']
gen_users = gen_users.drop(rem_col, axis = 1)

In [26]:
features = ['statuses_count', 'followers_count', 'friends_count', 'favourites_count', 'verified', 'following', 'in_reply_to_user_id', 
            'retweet_count', 'num_hashtags', 'num_urls', 'num_mentions', 'acct_age']

for feature in features:
    max_value = np.maximum(gen_users[feature].max(), gen_users[feature].max())
    gen_users[feature] = gen_users[feature]/max_value

In [27]:
gen_users['user_type'] = 1

In [28]:
gen_users.head()

,id,name,statuses_count,followers_count,friends_count,favourites_count,lang,verified,following,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age,user_type
3,191839658,pocahontas farida,0.608592,0.002278,0.039731,0.325147,en,0.0,NaN,0.145937,0.104106,0.023177,0.097820,0.305854,0.690280,1
5,2157382005,JO,0.038725,0.000650,0.043174,0.008454,en,0.0,NaN,0.220953,0.002666,0.036912,0.115661,0.462550,0.426396,1
6,1947320929,❄McKayla❄,0.041007,0.001056,0.081001,0.102509,en,0.0,NaN,0.040046,0.527673,0.060868,0.087200,0.383332,0.431029,1
8,1733095801,Nicole Romany,0.014555,0.000341,0.010368,0.007586,en,0.0,NaN,0.036730,0.000979,0.103199,0.176801,0.198605,0.438640,1
12,21959183,Randee Deason,0.031046,0.001974,0.084889,0.000016,en,0.0,NaN,0.044361,0.002465,0.082895,0.207693,0.218627,0.822222,1

In [29]:
gen_users = gen_users.fillna(0)

In [30]:
gen_users.lang.unique()

array(['en', 'en-gb', 'es', 'ru', 'sv', 'fr', 'en-GB', 'zh-tw', 'tr',
       'zh-TW', 'id', 'da', 'pt', 'de', 'ja'], dtype=object)

In [31]:
gen_users['language'] = gen_users['lang'].apply(lambda x: x.split('-')[0])
del gen_users['lang']
gen_users.head()

,id,name,statuses_count,followers_count,friends_count,favourites_count,verified,following,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age,user_type,language
3,191839658,pocahontas farida,0.608592,0.002278,0.039731,0.325147,0.0,0.0,0.145937,0.104106,0.023177,0.097820,0.305854,0.690280,1,en
5,2157382005,JO,0.038725,0.000650,0.043174,0.008454,0.0,0.0,0.220953,0.002666,0.036912,0.115661,0.462550,0.426396,1,en
6,1947320929,❄McKayla❄,0.041007,0.001056,0.081001,0.102509,0.0,0.0,0.040046,0.527673,0.060868,0.087200,0.383332,0.431029,1,en
8,1733095801,Nicole Romany,0.014555,0.000341,0.010368,0.007586,0.0,0.0,0.036730,0.000979,0.103199,0.176801,0.198605,0.438640,1,en
12,21959183,Randee Deason,0.031046,0.001974,0.084889,0.000016,0.0,0.0,0.044361,0.002465,0.082895,0.207693,0.218627,0.822222,1,en

In [32]:
gen_users.rename(columns = {'language' : 'lang'}, inplace = True)

In [33]:
gen_users.isnull().sum()

id                     0
name                   0
statuses_count         0
followers_count        0
friends_count          0
favourites_count       0
verified               0
following              0
in_reply_to_user_id    0
retweet_count          0
num_hashtags           0
num_urls               0
num_mentions           0
acct_age               0
user_type              0
lang                   0
dtype: int64

In [34]:
gen_users.to_csv('gen_data_final.csv', sep=',')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [232]:
df_spam_users = pd.read_csv("C:\\Users\\Samruddhi Pasari\\Documents\\DSMT Material\\Project\\cresci-2017.csv\\datasets_full.csv\\spam_users\\spam_users_data.csv")
df_spam_users.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,verified,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1
0,24858289,Davide Bertoli,davideb66,1299,22,40,1,0,NaN,it,...,NaN,NaN,NaN,NaN,NaN,Tue Mar 17 08:51:12 +0000 2009,3/17/2009 9:51,4/19/2014 14:46,3/15/2016 14:12,1.0
1,33212890,Elisa D'Ospina,ElisaDospina,18665,12561,3442,16358,110,http://t.co/ceK8TovxwI,it,...,NaN,NaN,Autrice del libro #unavitatuttacurve dal 9 apr...,NaN,NaN,Sun Apr 19 14:38:04 +0000 2009,4/19/2009 16:38,5/18/2014 23:20,3/15/2016 14:17,1.0
2,39773427,Donato Vincenzo,Vladimir65,22987,600,755,14,6,NaN,it,...,NaN,NaN,[Live Long and Prosper],NaN,NaN,Wed May 13 15:34:41 +0000 2009,5/13/2009 17:34,5/13/2014 23:21,3/15/2016 14:16,1.0
3,57007623,Rafiela Morales L.,RafielaMorales,7975,398,350,11,2,NaN,en,...,NaN,NaN,"Cuasi Odontologa*♥,#Bipolar, #Sarcastica & Som...",NaN,NaN,Wed Jul 15 12:55:03 +0000 2009,7/15/2009 14:55,5/19/2014 23:24,3/15/2016 14:18,1.0
4,63258466,§ h a † u r♄,FabrizioC_c,20218,413,405,162,8,http://t.co/PK5F0JDKcy,it,...,NaN,NaN,"I shall rise from my own death, to avenge hers...",NaN,NaN,Wed Aug 05 21:12:49 +0000 2009,8/5/2009 23:12,5/11/2014 23:22,3/15/2016 14:17,1.0

In [233]:
df_spam_tweets = pd.read_csv("C:\\Users\\Samruddhi Pasari\\Documents\\DSMT Material\\Project\\cresci-2017.csv\\datasets_full.csv\\spam_tweets\\spam_tweets_data.csv", error_bad_lines=False, encoding = "ISO-8859-1", low_memory=False)
df_spam_tweets.head()

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,5.330000e+17,I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0.0,0,NaN,0.0,NaN,...,NaN,NaN,NaN,0.0,1.0,0.0,Wed Nov 12 20:14:48 +0000 2014,11/12/2014 21:14,11/12/2014 21:44,11/12/2014 21:44
1,5.330000e+17,http://t.co/HyI5EQKz6Q,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0.0,0,NaN,0.0,NaN,...,NaN,NaN,NaN,0.0,1.0,0.0,Wed Nov 12 20:01:32 +0000 2014,11/12/2014 21:01,11/12/2014 21:44,11/12/2014 21:44
2,5.330000e+17,"Tutti a tavola, con il filetto di baccalÃ . ht...","<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0.0,0,NaN,0.0,NaN,...,NaN,NaN,NaN,0.0,1.0,0.0,Wed Nov 12 12:41:32 +0000 2014,11/12/2014 13:41,11/12/2014 21:44,11/12/2014 21:44
3,5.320000e+17,http://t.co/NAHQ4l2pUy,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0.0,0,NaN,0.0,NaN,...,NaN,NaN,NaN,0.0,1.0,0.0,Tue Nov 11 22:23:43 +0000 2014,11/11/2014 23:23,11/12/2014 21:44,11/12/2014 21:44
4,5.320000e+17,Gold - Spandau Ballet http://t.co/o8ZJHt7Neu,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0.0,0,NaN,0.0,NaN,...,NaN,NaN,NaN,0.0,1.0,0.0,Tue Nov 11 22:17:01 +0000 2014,11/11/2014 23:17,11/12/2014 21:44,11/12/2014 21:44

In [ ]:
df_spam_users = df_spam_users.fillna(0)
df_spam_tweets = df_spam_tweets.fillna(0)

In [235]:
print(df_spam_tweets.shape)
print(df_spam_users.shape)

(183636, 25)
(10824, 41)

In [237]:
df_spam_users['id'].unique().shape

(5912,)

In [238]:
df_spam_tweets['user_id'].unique().shape

(1016,)

In [239]:
#df_spam_users.dtypes
#df_spam_tweets.dtypes

#df_spam_users['id'] = df_spam_users.id.astype('float64')
rem_col = ['default_profile', 'default_profile_image', 'geo_enabled', 'profile_image_url', 'profile_banner_url', 'profile_use_background_image', 'profile_background_image_url_https', 'profile_text_color', 'profile_sidebar_border_color', 'profile_background_tile', 'profile_sidebar_fill_color', 'profile_background_image_url','profile_background_color', 'profile_link_color', 'utc_offset',  'is_translator', 'protected', 'description', 'contributors_enabled' ]
df_spam_users = df_spam_users.drop(rem_col, axis = 1)

In [242]:
rem_col = ['url', 'time_zone', 'location', 'profile_image_url_https']
df_spam_users = df_spam_users.drop(rem_col, axis = 1)

In [249]:
rem_col = ['screen_name', 'listed_count', 'follow_request_sent', 'notifications']
df_spam_users = df_spam_users.drop(rem_col, axis = 1)

In [263]:
df_spam_users['retweet_count'] = df_spam_users.retweet_count.astype('float64')
df_spam_users['num_hashtags'] = df_spam_users.num_hashtags.astype('float64')
df_spam_users['num_urls'] = df_spam_users.num_urls.astype('float64')
df_spam_users['statuses_count'] = df_spam_users.statuses_count.astype('float64')
df_spam_users['followers_count'] = df_spam_users.followers_count.astype('float64')
df_spam_users['friends_count'] = df_spam_users.friends_count.astype('float64')
df_spam_users['favourites_count'] = df_spam_users.favourites_count.astype('float64')

In [245]:
new_features = ['in_reply_to_user_id','retweet_count','num_hashtags', 'num_urls','num_mentions']

for f in new_features:
    df_spam_users[f] = np.nan

In [267]:
df_spam_users.dtypes

id                       int64
name                    object
statuses_count         float64
followers_count        float64
friends_count          float64
favourites_count       float64
lang                    object
verified               float64
following              float64
created_at              object
crawled_at              object
updated                 object
test_set_1             float64
in_reply_to_user_id    float64
retweet_count          float64
num_hashtags           float64
num_urls               float64
num_mentions           float64
acct_age               float64
dtype: object

In [265]:
unique_ids = df_spam_tweets['user_id'].unique()
indices = []
#print(unique_ids)


for unique_id in unique_ids:
    index = df_spam_users.loc[df_spam_users['id']==unique_id].index[0]
    indices.append(df_spam_users.loc[df_spam_users['id']==unique_id].index[0])
    
    mean = df_spam_tweets.loc[df_spam_tweets['user_id'] == unique_id]['num_hashtags'].mean()
    df_spam_users.iloc[index, df_spam_users.columns.get_loc('num_hashtags')] = mean
    
    mean = df_spam_tweets.loc[df_spam_tweets['user_id'] == unique_id]['in_reply_to_user_id'].mean()
    df_spam_users.iloc[index, df_spam_users.columns.get_loc('in_reply_to_user_id')] = mean

    mean = df_spam_tweets.loc[df_spam_tweets['user_id'] == unique_id]['retweet_count'].mean()
    df_spam_users.iloc[index, df_spam_users.columns.get_loc('retweet_count')] = mean

    mean = df_spam_tweets.loc[df_spam_tweets['user_id'] == unique_id]['num_urls'].mean()
    df_spam_users.iloc[index, df_spam_users.columns.get_loc('num_urls')] = mean

    mean = df_spam_tweets.loc[df_spam_tweets['user_id'] == unique_id]['num_mentions'].mean()
    df_spam_users.iloc[index, df_spam_users.columns.get_loc('num_mentions')] = mean

In [268]:
df_spam_users.head()

,id,name,statuses_count,followers_count,friends_count,favourites_count,lang,verified,following,created_at,crawled_at,updated,test_set_1,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age
0,24858289,Davide Bertoli,1299.0,22.0,40.0,1.0,it,0.0,0.0,Tue Mar 17 08:51:12 +0000 2009,4/19/2014 14:46,3/15/2016 14:12,1.0,2.020547e+06,0.004369,0.023431,0.809373,0.054805,115.767127
1,33212890,Elisa D'Ospina,18665.0,12561.0,3442.0,16358.0,it,0.0,0.0,Sun Apr 19 14:38:04 +0000 2009,5/18/2014 23:20,3/15/2016 14:17,1.0,6.159797e+07,13.865718,1.042698,0.331064,1.181931,114.673630
2,39773427,Donato Vincenzo,22987.0,600.0,755.0,14.0,it,0.0,0.0,Wed May 13 15:34:41 +0000 2009,5/13/2014 23:21,3/15/2016 14:16,1.0,NaN,NaN,NaN,NaN,NaN,113.883835
3,57007623,Rafiela Morales L.,7975.0,398.0,350.0,11.0,en,0.0,0.0,Wed Jul 15 12:55:03 +0000 2009,5/19/2014 23:24,3/15/2016 14:18,1.0,NaN,NaN,NaN,NaN,NaN,111.817605
4,63258466,§ h a † u r♄,20218.0,413.0,405.0,162.0,it,0.0,0.0,Wed Aug 05 21:12:49 +0000 2009,5/11/2014 23:22,3/15/2016 14:17,1.0,NaN,NaN,NaN,NaN,NaN,111.116313

In [ ]:
age = (pd.to_datetime('2018-11-09 00:00:00') - pd.to_datetime(df_spam_users['timestamp']))/np.timedelta64(1, 'M')
df_spam_users.loc[:,'acct_age'] = age.values
df_spam_users = df_spam_users.drop('timestamp',1)

In [269]:
df_spam_users = df_spam_users.dropna(how='any')

In [270]:
df_spam_users.head()

,id,name,statuses_count,followers_count,friends_count,favourites_count,lang,verified,following,created_at,crawled_at,updated,test_set_1,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age
0,24858289,Davide Bertoli,1299.0,22.0,40.0,1.0,it,0.0,0.0,Tue Mar 17 08:51:12 +0000 2009,4/19/2014 14:46,3/15/2016 14:12,1.0,2.020547e+06,0.004369,0.023431,0.809373,0.054805,115.767127
1,33212890,Elisa D'Ospina,18665.0,12561.0,3442.0,16358.0,it,0.0,0.0,Sun Apr 19 14:38:04 +0000 2009,5/18/2014 23:20,3/15/2016 14:17,1.0,6.159797e+07,13.865718,1.042698,0.331064,1.181931,114.673630
1102,26364491,Cameron,67792.0,918.0,728.0,1989.0,en,0.0,0.0,Tue Mar 24 23:58:29 +0000 2009,5/5/2014 0:20,3/15/2016 15:02,0.0,7.024182e+07,300.814184,0.078352,0.131620,0.654692,115.516449
1189,41613571,Keven Triple 7's,41093.0,1479.0,931.0,206.0,en,0.0,0.0,Thu May 21 15:59:11 +0000 2009,5/5/2014 0:20,3/15/2016 15:03,0.0,1.653415e+08,4.080421,0.449428,0.799258,1.046706,113.620426
2381,109905756,Hanna Julian,58821.0,1540.0,596.0,11751.0,de,0.0,0.0,Sat Jan 30 17:16:06 +0000 2010,5/5/2014 0:20,3/15/2016 15:09,0.0,2.007633e+08,25.702314,0.235460,0.158224,0.678549,105.274897

In [285]:
df_spam_users.dtypes

id                       int64
name                    object
statuses_count         float64
followers_count        float64
friends_count          float64
favourites_count       float64
lang                    object
verified               float64
following              float64
in_reply_to_user_id    float64
retweet_count          float64
num_hashtags           float64
num_urls               float64
num_mentions           float64
acct_age               float64
user_type                int64
dtype: object

In [275]:
features = ['statuses_count', 'followers_count', 'friends_count', 'favourites_count', 'verified', 'following', 'in_reply_to_user_id', 
            'retweet_count', 'num_hashtags', 'num_urls', 'num_mentions', 'acct_age']

for feature in features:
    max_value = np.maximum(df_spam_users[feature].max(), df_spam_users[feature].max())
    df_spam_users[feature] = df_spam_users[feature]/max_value

In [279]:
df_spam_users.shape

(1016, 15)

In [277]:
rem_col = ['created_at', 'crawled_at', 'updated', 'test_set_1']
df_spam_users = df_spam_users.drop(rem_col, axis = 1)

In [280]:
df_spam_users['user_type'] = 0

In [283]:
df_spam_users.head()

,id,name,statuses_count,followers_count,friends_count,favourites_count,lang,verified,following,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age,user_type
0,24858289,Davide Bertoli,0.007035,0.000545,0.001159,0.000061,it,0.0,0.0,0.003617,1.445889e-08,0.008279,0.626940,0.025202,0.850001,0
1,33212890,Elisa D'Ospina,0.101077,0.311162,0.099757,1.000000,it,0.0,0.0,0.110267,4.589236e-05,0.368434,0.256442,0.543495,0.841972,0
1102,26364491,Cameron,0.367116,0.022741,0.021099,0.121592,en,0.0,0.0,0.125741,9.956263e-04,0.027686,0.101953,0.301052,0.848160,0
1189,41613571,Keven Triple 7's,0.222532,0.036638,0.026982,0.012593,en,0.0,0.0,0.295979,1.350526e-05,0.158804,0.619105,0.481314,0.834239,0
2381,109905756,Hanna Julian,0.318535,0.038149,0.017273,0.718364,de,0.0,0.0,0.359388,8.506880e-05,0.083199,0.122560,0.312022,0.772963,0

In [ ]:
df_spam_users = df_spam_users.fillna(0)

In [20]:
gen_final.head()

,Unnamed: 0,id,name,statuses_count,followers_count,friends_count,favourites_count,verified,following,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age,user_type,lang
0,3,191839658,pocahontas farida,202968.0,2248.0,981.0,60304.0,0.0,0.0,2.863270e+08,2957.966149,0.147516,0.097516,0.825776,97.721327,1,en
1,5,2157382005,JO,12915.0,641.0,1066.0,1568.0,0.0,0.0,4.335070e+08,75.754560,0.234930,0.115301,1.248841,60.363815,1,en
2,6,1947320929,❄McKayla❄,13676.0,1042.0,2000.0,19012.0,0.0,0.0,7.856961e+07,14992.739213,0.387402,0.086929,1.034961,61.019745,1,en
3,8,1733095801,Nicole Romany,4854.0,337.0,256.0,1407.0,0.0,0.0,7.206424e+07,27.808517,0.656823,0.176251,0.536214,62.097282,1,en
4,12,21959183,Randee Deason,10354.0,1948.0,2096.0,3.0,0.0,0.0,8.703661e+07,70.040536,0.527596,0.207047,0.590271,116.399987,1,en

In [284]:
df_spam_users.to_csv('spam_data.csv', sep=',')

In [35]:
gen_final = pd.read_csv('/Users/atulyasharma/Desktop/gen_data_final.csv')
spam_final = pd.read_csv('/Users/atulyasharma/Documents/M.S in Information Systems/University Curriculum/Spring 2020/INFO 6105 Data Science Engineering Methods and Tools/Projects/April 11, 2020/spam_data.csv')
print(gen_final.head)
print(spam_final.head)

<bound method NDFrame.head of       Unnamed: 0          id               name  statuses_count  \
0              3   191839658  pocahontas farida        0.608592
1              5  2157382005                 JO        0.038725
2              6  1947320929          ❄McKayla❄        0.041007
3              8  1733095801      Nicole Romany        0.014555
4             12    21959183      Randee Deason        0.031046
...          ...         ...                ...             ...
1078        3453   578727389             kerwin        0.066917
1079        3457   181191283  Kamina Lamperouge        0.386589
1080        3461   612711615              Zayn.        0.079288
1081        3467   599844379              alexa        0.187695
1082        3469   205218909         Alejandro         0.000945

      followers_count  friends_count  favourites_count  verified  following  \
0            0.002278       0.039731          0.325147       0.0        0.0
1            0.000650       0.043174          0.008454       0.0        0.0
2            0.001056       0.081001          0.102509       0.0        0.0
3            0.000341       0.010368          0.007586       0.0        0.0
4            0.001974       0.084889          0.000016       0.0        0.0
...               ...            ...               ...       ...        ...
1078         0.000498       0.009153          0.039565       0.0        0.0
1079         0.000443       0.012312          0.003273       0.0        0.0
1080         0.003261       0.078693          0.056856       0.0        0.0
1081         0.010410       0.003969          0.213693       0.0        0.0
1082         0.000095       0.024179          0.000194       0.0        0.0

      in_reply_to_user_id  retweet_count  num_hashtags  num_urls  \
0                0.145937       0.104106      0.023177  0.097820
1                0.220953       0.002666      0.036912  0.115661
2                0.040046       0.527673      0.060868  0.087200
3                0.036730       0.000979      0.103199  0.176801
4                0.044361       0.002465      0.082895  0.207693
...                   ...            ...           ...       ...
1078             0.164715       0.014500      0.004236  0.046714
1079             0.158141       0.002798      0.003482  0.091734
1080             0.188714       0.312288      0.081904  0.019021
1081             0.210396       0.078932      0.013693  0.066364
1082             0.064068       0.013133      0.070290  0.481762

      num_mentions  acct_age  user_type lang
0         0.305854  0.690280          1   en
1         0.462550  0.426396          1   en
2         0.383332  0.431029          1   en
3         0.198605  0.438640          1   en
4         0.218627  0.822222          1   en
...            ...       ...        ...  ...
1078      0.221050  0.550172          1   en
1079      0.366106  0.696538          1   en
1080      0.421042  0.541504          1   en
1081      0.353301  0.544851          1   en
1082      0.183973  0.682644          1   es

[1083 rows x 17 columns]>
<bound method NDFrame.head of       Unnamed: 0         id                  name  statuses_count  \
0              0   24858289        Davide Bertoli        0.007035
1              1   33212890        Elisa D'Ospina        0.101077
2           1102   26364491               Cameron        0.367116
3           1189   41613571      Keven Triple 7's        0.222532
4           2381  109905756          Hanna Julian        0.318535
...          ...        ...                   ...             ...
1011       10819  117166638                   dwr        0.000114
1012       10820  117281140  Affiliate Clickbank         0.024661
1013       10821  117318786         Aaron Kershaw        0.000049
1014       10822  117320084          Milla Batrey        0.000043
1015       10823  120920330      PLATILLO EVENTOS        0.000022

      followers_count  friends_count  favourites_count lang  verified  \
0            0.000545       0.001159          0.000061   it       0.0
1            0.311162       0.099757          1.000000   it       0.0
2            0.022741       0.021099          0.121592   en       0.0
3            0.036638       0.026982          0.012593   en       0.0
4            0.038149       0.017273          0.718364   de       0.0
...               ...            ...               ...  ...       ...
1011         0.002254       0.011042          0.000000    0       0.0
1012         0.012386       0.014346          0.000000    0       0.0
1013         0.115686       0.136709          0.000000    0       0.0
1014         0.087545       0.113059          0.000000    0       0.0
1015         0.012014       0.038865          0.000000    0       0.0

      following  in_reply_to_user_id  retweet_count  num_hashtags  num_urls  \
0           0.0             0.003617   1.445889e-08      0.008279  0.626940
1           0.0             0.110267   4.589236e-05      0.368434  0.256442
2           0.0             0.125741   9.956263e-04      0.027686  0.101953
3           0.0             0.295979   1.350526e-05      0.158804  0.619105
4           0.0             0.359388   8.506880e-05      0.083199  0.122560
...         ...                  ...            ...           ...       ...
1011        0.0             0.000000   0.000000e+00      0.100956  0.774600
1012        0.0             0.000000   0.000000e+00      0.009938  0.807762
1013        0.0             0.000000   0.000000e+00      0.039261  0.688533
1014        0.0             0.000000   0.000000e+00      0.044168  0.677775
1015        0.0             0.000000   0.000000e+00      0.088337  0.580950

      num_mentions  acct_age  user_type
0         0.025202  0.850001          0
1         0.543495  0.841972          0
2         0.301052  0.848160          0
3         0.481314  0.834239          0
4         0.312022  0.772963          0
...            ...       ...        ...
1011      0.000000  0.766914          0
1012      0.001293  0.766832          0
1013      0.000000  0.766804          0
1014      0.000000  0.766803          0
1015      0.114959  0.764207          0

[1016 rows x 17 columns]>

In [36]:
spam_final['language'] = spam_final['lang'].apply(lambda x: x.split('-')[0])
del spam_final['lang']
spam_final.head()

,Unnamed: 0,id,name,statuses_count,followers_count,friends_count,favourites_count,verified,following,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age,user_type,language
0,0,24858289,Davide Bertoli,0.007035,0.000545,0.001159,0.000061,0.0,0.0,0.003617,1.445889e-08,0.008279,0.626940,0.025202,0.850001,0,it
1,1,33212890,Elisa D'Ospina,0.101077,0.311162,0.099757,1.000000,0.0,0.0,0.110267,4.589236e-05,0.368434,0.256442,0.543495,0.841972,0,it
2,1102,26364491,Cameron,0.367116,0.022741,0.021099,0.121592,0.0,0.0,0.125741,9.956263e-04,0.027686,0.101953,0.301052,0.848160,0,en
3,1189,41613571,Keven Triple 7's,0.222532,0.036638,0.026982,0.012593,0.0,0.0,0.295979,1.350526e-05,0.158804,0.619105,0.481314,0.834239,0,en
4,2381,109905756,Hanna Julian,0.318535,0.038149,0.017273,0.718364,0.0,0.0,0.359388,8.506880e-05,0.083199,0.122560,0.312022,0.772963,0,de

In [37]:
spam_final.rename(columns = {'language' : 'lang'}, inplace = True)
spam_final.head()

,Unnamed: 0,id,name,statuses_count,followers_count,friends_count,favourites_count,verified,following,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age,user_type,lang
0,0,24858289,Davide Bertoli,0.007035,0.000545,0.001159,0.000061,0.0,0.0,0.003617,1.445889e-08,0.008279,0.626940,0.025202,0.850001,0,it
1,1,33212890,Elisa D'Ospina,0.101077,0.311162,0.099757,1.000000,0.0,0.0,0.110267,4.589236e-05,0.368434,0.256442,0.543495,0.841972,0,it
2,1102,26364491,Cameron,0.367116,0.022741,0.021099,0.121592,0.0,0.0,0.125741,9.956263e-04,0.027686,0.101953,0.301052,0.848160,0,en
3,1189,41613571,Keven Triple 7's,0.222532,0.036638,0.026982,0.012593,0.0,0.0,0.295979,1.350526e-05,0.158804,0.619105,0.481314,0.834239,0,en
4,2381,109905756,Hanna Julian,0.318535,0.038149,0.017273,0.718364,0.0,0.0,0.359388,8.506880e-05,0.083199,0.122560,0.312022,0.772963,0,de

In [38]:
combined = [gen_final, spam_final]
resultz = pd.concat(combined)

In [39]:
resultz.shape

(2099, 17)

In [40]:
spam_final.head()

,Unnamed: 0,id,name,statuses_count,followers_count,friends_count,favourites_count,verified,following,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age,user_type,lang
0,0,24858289,Davide Bertoli,0.007035,0.000545,0.001159,0.000061,0.0,0.0,0.003617,1.445889e-08,0.008279,0.626940,0.025202,0.850001,0,it
1,1,33212890,Elisa D'Ospina,0.101077,0.311162,0.099757,1.000000,0.0,0.0,0.110267,4.589236e-05,0.368434,0.256442,0.543495,0.841972,0,it
2,1102,26364491,Cameron,0.367116,0.022741,0.021099,0.121592,0.0,0.0,0.125741,9.956263e-04,0.027686,0.101953,0.301052,0.848160,0,en
3,1189,41613571,Keven Triple 7's,0.222532,0.036638,0.026982,0.012593,0.0,0.0,0.295979,1.350526e-05,0.158804,0.619105,0.481314,0.834239,0,en
4,2381,109905756,Hanna Julian,0.318535,0.038149,0.017273,0.718364,0.0,0.0,0.359388,8.506880e-05,0.083199,0.122560,0.312022,0.772963,0,de

In [42]:
del resultz['Unnamed: 0']

In [43]:
resultz.shape

(2099, 16)

In [44]:
resultz.head()

,id,name,statuses_count,followers_count,friends_count,favourites_count,verified,following,in_reply_to_user_id,retweet_count,num_hashtags,num_urls,num_mentions,acct_age,user_type,lang
0,191839658,pocahontas farida,0.608592,0.002278,0.039731,0.325147,0.0,0.0,0.145937,0.104106,0.023177,0.097820,0.305854,0.690280,1,en
1,2157382005,JO,0.038725,0.000650,0.043174,0.008454,0.0,0.0,0.220953,0.002666,0.036912,0.115661,0.462550,0.426396,1,en
2,1947320929,❄McKayla❄,0.041007,0.001056,0.081001,0.102509,0.0,0.0,0.040046,0.527673,0.060868,0.087200,0.383332,0.431029,1,en
3,1733095801,Nicole Romany,0.014555,0.000341,0.010368,0.007586,0.0,0.0,0.036730,0.000979,0.103199,0.176801,0.198605,0.438640,1,en
4,21959183,Randee Deason,0.031046,0.001974,0.084889,0.000016,0.0,0.0,0.044361,0.002465,0.082895,0.207693,0.218627,0.822222,1,en

In [45]:
resultz.to_csv('final_final_data_6105.csv', sep=',')